* {
    font-family: Roboto;
}

body {
    display: flex;
    flex-flow: column nowrap;
    margin: 0;
    min-height: 100vh;
}

.container-1,
.container-2,
.container-3,
.container-4 ,
header{
    padding: 0 150px;
    display: flex;
}

.container-1,
.container-2,
.container-3,
.container-4 {
    flex: 1 1 0;
}

.container-1,
footer,
header {
    background-color: #1F2937;
    color: #F9FAF8;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-link-list {
    list-style: none;
    display: flex;
    gap: 15px;
    font-size: 18px;
    color: #E5E7EB;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
}

.container-1 {
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

.container-1 img {
    width: 350px;
    height: auto;
    margin-bottom: 50px;
}

.hero-text p{
    margin: 0;
    margin-bottom: 8px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
}

.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-button,
.signup-area {
    background-color: #3882F6;
    color: #F9FAF8;
    border: 0;
}

.hero-button,
.signup-button {
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    padding: 4px 30px;
}

.hero-button {
    border-radius: 5px;
    padding: 4px 30px;
}

.container-2 {
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 0 10vh;
    padding: 30px 0;
}

.information-title {
    font-weight: 900;
    font-size: 24px;
}

.card img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 12px;
    border: 4px solid #3882F6;
}

.information-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 50px;
}

.card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.information-text {
    text-align: center;
    color: #1F2937;
    margin-top: 5px;
}

.container-3 {
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    background-color: #E5E7EB;
    padding: 50px 200px;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
    margin-bottom: 0;
}

.author {
    margin-top: 0;
    align-self: flex-end;
    font-weight: 800;
}

.container-4 {
    padding: 80px 150px;
}

.signup-area {
    width: 100%;
    border-radius: 6px;
    padding: 20px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.signup-main-text {
    margin-bottom: 0;
    font-weight: 700;
    font-size: larger;
}

.signup-secondary-text {
    margin-top: 0;
    font-size: smaller;
}

.signup-button {
    background-color: #3882F6;
    border: 2px solid white;
    color: white;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    font-size: smaller;
}